
/* https://chartio.com/resources/tutorials/how-to-resize-an-svg-when-the-window-is-resized-in-d3-js/  */
html, body {
   background-color: black;
   color: white;
   font-family: Arial, Helvetica, sans-serif;
}

h1 {
   text-align: center;
}

#mainframe {
   position: absolute;
   top: 70px;
   left: 0px;
   background-color: white;
   display: block;
   /* da muss man anscheinend margin _und_ padding abziehen */
   width: calc(100% - 40px);
   height: calc(100% - 90px);
   margin-left: 20px;
   padding-left: 0px;
   text-align: center;
}

/* da kommt das video rein */
#videoframe {
   position: absolute;
   top: 70px;
   left: 0px;
   background-color: blue;
   width: calc(100% - 40px);
   height: calc(100% - 90px);
   margin-left: 20px;
   display: none;
}
          
.svg-container {
   /* display: inline-block; */
   position: absolute;
   top: 0px;
   left: 0px;
   background-color: white;
   width: calc(100% - 160px);
   height: 100%;
   margin-left: 80px;
   overflow: hidden;
}
.svg-content {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}
